<style>
    .center-cropped {
        object-fit: none;
        /* Do not scale the image */
        object-position: center;
        /* Center the image within the element */
        width: 100%;
        max-height: 400px;
        margin-bottom: 1rem;
    }
</style>

<div class="mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="position-relative p-0">
        <img src="{{ site.baseurl }}//slike/post1.png" class="center-cropped mb-0" alt="">
        <div class="position-absolute h-100 w-100 top-0">
            <div class="d-flex align-items-end position-absolute h-100 w-100 p-5 bg-dark bg-opacity-50">
                <div class="text-white">
                    <h1 class="display-4 fst-italic">Konkretizacije zahteva studenata u blokadi</h1>
                    <p class="lead my-3">Pročitajte koji su naši zahtevi formalno i vidite detaljnija obrazloženja...
                    </p>
                    <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold">Pročitajte više...</a></p>
                </div>
            </div>
        </div>
    </div>
</div>